body {
	background-color: #2a2a2a;
	font-family: "cooper_hewittbook";
	-webkit-overflow-scrolling: auto;
}

button:focus {
	outline: none;
}

/* HEADER SECTION STYLING */
header {
	height: 5vh;
	background-color: #2a2a2a;
	position: sticky;
	top: 0px;
	display: flex;
	z-index: 10;
}

#home {
	color: white;
    left: 5vw;
    top: 0.5vh;
    position: absolute;
    font-size: 25px;
    font-family: 'cooper_hewittsemibold';
    text-decoration: none;
}

#navbar {
	width: fit-content;
	margin: auto;
}

#navList {
	display: inline-flex;
	list-style: none;
    margin: auto;
    padding: 0;
    position: sticky;
}

#navList a {
	color: #ccc;
    transition: 0.5s;
    width: 100px;
    text-decoration: none;
}

#navList a:hover {
	color: white;
}

#navList button {
	background-color: transparent;
	border: 0;
    color: #ccc;
    transition: 0.5s;
    width: 100px;
    margin: 0px 20px;
}

#navList a:hover {
    color: #fff;
    text-decoration: none;
}

#navList a:focus {
	outline: none;
}

#navList li {
	margin: 0px 40px;
}

/* CONTENT SECTION STYLING */
#content {
	scroll-behavior: smooth;
	position: relative;
    top: 80vh;
}

.coverSection {
	position: fixed;
	height: 80vh;
}

/* normal sized cover photo */
.coverImgNarrow {
	display: none;
}

.coverImg {
	display: none;
}

.coverImgWide {
    display: none;
}

.coverImgVeryWide {
	object-fit: cover;
    object-position: center;
    margin: auto;
	width: 100%;
	height: 80vh;
    display: block;
    position: fixed;
}

#greetingSection {
	display: flex;
	height: 15vh;
	background-color: #2a2a2a;
	width: 100%;
}

#greetingSection h1 {
	width: fit-content;
	margin: auto;
	color: white;
	font-size: 50pt;
}

#aboutMe {
	background-color: #242424;
	width: 100%;
	margin: auto;
	height: 100vh;
	color: white;
}

.aboutMeContent {
	display: grid;
	width: 100%;
}

.aboutMeContent .bio {
	width: 100%;
	margin: auto;
    padding-top: 5vh;
}

.aboutMeContent .bio p {
	max-height: : 30vh;
	padding: 5px 0px;
}

.aboutMeContent img {
	margin: auto;
	height: 30vh;
    object-fit: contain;
}

.sectionHeading {
	display: flex;
	height: 20vh;
}

.sectionHeading-dark {
	background-color: #222222;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	height: 100%;
	display: flex;
}

.sectionHeading h1 {
	width: fit-content;
	margin: auto;
	color: white;
	font-family: "cooper_hewittmedium";
}

#myStory .sectionHeading {
	height: 14vh;
}

.sectionContent {
	height: 80vh;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	color: white;
}

.sectionContent p {
	text-align: justify;
    max-width: 700px;
    margin: auto;
}

.sectionContent h2 {
	width: fit-content;
	margin: auto;
	padding-bottom: 9px;
}

/* MY STORY CAROUSEL */
#myStory {
    background-color: #2a2a2a;
    height: 100vh;
}

#carouselTitle {
	width: 100%;
	margin: auto;
	color: white;
    height: 10vh;
    display: flex;
    font-size: 40px;
    font-weight: bold;
}

.carousel {
    display: flex;
    height: 80vh;
}

.carousel-item {
    height: 100%;
	color: white;
	width: 100%;
	margin: auto;
	float: none;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
	background-color: #282828;
}

.carousel-item .carouselBanner {
	background-color: rgba(42, 42, 42, 0.5);
	height: 100%;
	display: flex;
}

.carousel-item .carouselBannerContent {
	width: 60%;
	margin: auto;
    margin-bottom: 5vh;
}

.carousel-item .carouselBannerContent p {
	text-align: justify;
	max-width: 700px;
    margin: auto;
    padding-bottom: 12vh;
}

.carousel-item .carouselBannerContent h2 {
	width: fit-content;
	margin: auto;
	padding-bottom: 9px;
}

#slide1 {
	background-image: url("../images/ProducePro.jpg");
}

#slide2 {
	background-image: url("../images/Purdue.jpg");
}

#slide3 {
	background-image: url("../images/Cedarburg.jpg"); 
}

.myStoryFooter {
	height: 6vh;
    background-color: #2a2a2a;
}

#myProjects {
	background-color: #242424;
}

#myProjects .sectionContent {
	height: fit-content;
	min-height: 80vh;
}

.projectList {
	list-style: none;
	padding: 0px;
}

.projectSection {
	padding-bottom: 8vh;
}

.projectSection a {
	color: white;
	text-decoration: none;
}

.projectSection h2 {
	text-align: center;
}

.projectContent h2 {
	width: fit-content;
	margin: auto;
	padding-bottom: 12px;
}

/* FOOTER SECTION STYLING */
footer {
	height: 80px;
	background-color: #2a2a2a;
}

#social {
	width: fit-content;
	margin: 0px auto;
}

#socialList {
	display: inline-flex;
	list-style: none;
	padding-top: 25px;
	padding-left: 0;
    margin: auto;
}

#socialList li {
	padding: 0px 20px;
}

#socialList i {
	font-size: 18pt;
	color: white;
	transition: 0.1s;
}

/* mobile screens */
@media (max-width: 1400px) {
	.coverImgNarrow {
		display: none;
	}

	.coverImg {
	    display: none;
	}
	
	.coverImgWide {
	    object-fit: cover;
	    object-position: center;
	    margin: auto;
		width: 100%;
		height: 80vh;
	    display: block;
	    position: fixed;
	}
	
	.coverImgVeryWide {
    	display: none;
	}
}

@media (max-width: 1045px) {
	.coverImgNarrow {
		display: none;
	}

	.coverImg {
	   	object-fit: cover;
	    object-position: center;
	    margin: auto;
		width: 100%;
		height: 80vh;
	    display: block;
	    position: fixed;
	}
	
	.coverImgWide {
		display: none;
	}
	
	.coverImgVeryWide {
    	display: none;
	}

	.carousel-item {
		background-size: contain;
	}
}

@media (max-width: 550px) {
	body {
		font-size: medium;
	}

	#home{
		font-size: 16px;
	    left: 5vw;
	    top: 1vh;
	}

	#navList li {
		margin: 0px 15px;
	}

	.coverImgNarrow {
	    object-fit: cover;
	    object-position: center;
	    margin: auto;
		width: 100%;
		height: 80vh;
	    display: block;
	    position: fixed;
	}

	.coverImg {
	    display: none;
	}
	
	.coverImgWide {
	    display: none;
	}
	
	.coverImgVeryWide {
    	display: none;
	}

	#greetingSection h1 {
		font-size: 2.5rem;
	}

	.sectionContent {
		width: 80%;
	}

	.aboutMeContent .bio {
		width: 100%;
	}

	.carousel-item {
		background-size: cover;
	}

	.carousel-item .carouselBannerContent {
	    width: 75%;
	    line-height: normal;
	    font-size: 11pt;
	}

	.carousel-control-prev-icon {
		margin-right: 5px;
	}

	.carousel-control-next-icon {
		margin-left: 5px;
	}

	#slide1 {
    	background-position-x: -100px;
	}

	#slide3 {
	    background-position-x: -388px;
	}
}

@media (max-width: 375px) {
	body {
		font-size: 11pt;
	}

	.sectionContent {
		width: 80%;
	}

	.aboutMeContent .bio {
		width: 100%;
	}

	.carousel-item {
		background-size: cover;
	}

	#slide1 {
    	background-position-x: -100px;
	}

	#slide3 {
	    background-position-x: -450px;
	}
}


/* QR CODE WEB APP STYLES  */
#QRapp {
	font-family: "cooper_hewittbook";
}

#QRtitleSection h1 {
    width: fit-content;
    margin: 60px auto 45px auto;
    color: white;
    font-size: 50pt;
}

#activeDestination div {
	width: fit-content;
	margin: auto;
}

#activeDestination a {
	width: fit-content;
	height: fit-content;
}

#activeDestination img {
	width: 200px;
	margin: 20px auto;
    display: block;
}

#activeDestination h2 {
	color: white;
	width: fit-content;
	margin: auto;
	font-size: 14px;
}

#destinationEntrySection h2, #savedDestinations h2{
	color: white;
	width: fit-content;
	margin: auto;
	margin: 50px auto 10px auto;
	font-size: 14pt;
}

.dataEntry {
	width: fit-content;
	margin: 10px auto;
}

#QRapp input, #QRapp button {
	border-radius: 3px;
    border: 3px solid white;
}

#savedDestinations table {
	max-width: 950px;
	margin: auto;
}

.savedDestination td {
	color: #ccc;
	margin: 10px 5px;
}

.savedDestination button {
	background-color: transparent;
    border: 0 !important;
    transition: 0.5s;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
}

.targetName {
	width: 250px;
}

.targetURL {
	width: 500px;
}

.setActiveButton {
	color: darkgreen;
}

.setActiveButton:hover {
	color: lightgreen;
}

.removeButton {
	color: darkred;
} 

.removeButton:hover {
	color: red;
}

@media (max-width: 550px) {
	#QRtitleSection h1 {
		font-size: 30pt;
	}

	#newName {
		width: 100px;
	}

	#savedDestinations * {
		font-size: 14px
	}

	#savedDestinations .targetName {
		text-align: ceneter;
	}

	#savedDestinations .targetURL {
		display: none;
	}
}